* {
    text-align: center;
    background-image: linear-gradient(to right,red, yellow);
}

button {
    background-image: linear-gradient(white, white);
}


img {
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#dog-image {
    animation: bounce 1s infinite ease-in-out;
}



#no-animation {
    display: block;
}  

#animation {
    display: none;
}

@keyframes bounce {
    0% {
        transform: translateY(10vh);
    }

    50% {
        transform: translateY(-20vh) scaleX(75%) scaleY(125%);
    }

    100% {
        transform: translateY(10vh);
    }
}