* {
    text-align: center;
}


img {
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#dog-image {
    animation: bounce 1s infinite ease-in-out;
}

#no-animation {
    display: none;
}  

* {
    background-color: white;
}


@keyframes bounce {
    0% {
        transform: translateY(10vh);
    }

    50% {
        transform: translateY(-20vh) scaleX(75%) scaleY(125%);
    }

    100% {
        transform: translateY(10vh);
    }
}